<html>

<head>
    <title>
        <%= title %>

    </title>
    <link rel="stylesheet" href="/css/layout.css">

    <%- style -%>
    <!-- moves style tag that is present in our body to here-->
</head>

<body>
    <%- include('_header'); %>

    <!--This is the variable part!
    "body" is a predefined variable from the library
    the main content for the page will be rendered here!
    -->
    <%- body %>


    <%- include('_footer'); %>

    <%- script -%>
    <!-- moves script tag that is present in our body to here -->
</body>

</html>